body{
	margin:0;
}
a:hover{

	text-decoration: none;
}
.first{
	font-size: 12px;
	background-color: #FEF7F6;
}

.seco a{
	color: #000000;
}
.seco a:hover{
	color: red;
}
.bar a:hover{
	background-color: lightgray;
}
.silon{
	font-size: 35px;
	text-decoration: none;
	color:red;
	font-weight: 700;
}
.silon a{
	color:black;	
}
.silon a:hover{
	color:black;
}
.border{
	border: 10px #000000;
	
}
.fash{
	
	background-image: url("images/final.png");
	
	background-size: cover;
	background-position: center;
}

.fashion{
	font-size: 50px;
	font-weight: bolder;
	margin-top: 70px;
	text-align: center;
	padding: 8% 0;
	
	}
.fashion .pp{
	font-size: 13px;
	color: #565656;
	letter-spacing: 1px;
}
.hi{
	height: auto;
}
.bot{
	font-size: 15px;
	font-weight: bold;
	padding: 12px 30px;
	
}
.featured_pro{
	font-weight: bold;
	font-size: 35px;
}

.row .gallery{
	margin-left: 200px;
	width: 100%;
	height: auto;
	align-content: center;
}
.price{
	font-weight: bold;

}
.rating{
	align-content: center;
	text-align: center;
}
.off_banner{
	background-color: #EAE2D8;
	height: 400px;
	

}
.announce{
	padding-top: 100px;
}
.b1{
	font-size: 60px;
}
.b2{
	font-size: 25px;
}
.desc1{
	font-weight: bold;
	font-size: 20px;
}
.pay{
	font-weight: bold;
}

.fotter{
	background-color: #E9E2D8;
	
}
.fot{
	font-weight: bold;
}

.p1{
	font-size: 11px;
}
.p2{
	font-size: 12px;
	font-weight: bold;
}
